myenv
terraform/malcom1.pem
backend/*.sh
frontend/node_modules
**/.terraform
**/.terraform.lock.hcl
**/.terraform.tfstate
**/.terraform.tfstate.backup
terraform/rdst/terraform.tfvars
terraform/base_data.txt
terraform/ami_data.txt
terraform/vpc_output.txt